@{
    ViewData["Title"] = "Home Page";
}

<div class="card text-center border border-dark">
    <h3 class="card-header bg-dark text-white">
        - Bienvenidos a Mi Aplicación Web -
    </h3>
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-1"></div>
            <div class="col-3">
                <div class="alert alert-dark" role="alert">
                    <h5 class="card-text"><b>Nombre: </b></h5>
                </div>
            </div>
            <div class="col-7">
                <div class="alert alert-danger" role="alert">
                    <h5 class="card-text">Hugo Alexander Samayoa Magaña</h5>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-1"></div>
            <div class="col-3">
                <div class="alert alert-dark" role="alert">
                    <h5 class="card-text"><b>Carnet: </b></h5>
                </div>
            </div>
            <div class="col-7">
                <div class="alert alert-danger" role="alert">
                    <h5 class="card-text">2016-SM-651</h5>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <div class="card-footer text-muted">
        <i> Creado y desarollado por mi mismo. </i>
    </div>
</div>
<hr />